@page
@model Web_tech.Pages.CreateQuestionPaperModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>CreateQuestionPaper</title>
        <link rel="stylesheet" href="~/css/CreateQuestionsVer5.css" asp-append-version="true" />
    </head>
    <body>
        <div class="container" style="align-content: center;">
        <div class="row2">
            <select id="Subject" onchange="RunFilter()">
                <option value="">All</option>
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.SubjectsId">@subject.SubjectName</option>
                }
            </select>
            <select id="Difficulty"  onchange="RunFilter()">
                <option value="">All</option>
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
            
            <label for="RndCount" id="RndCountLabel">Number of random question selected:</label>
            <input type="number" id="RndCount" min="0" oninput="CheckRndCountValid()">
                <button onclick="RndButtonOnClick()" class="btn-primary">Random select</button>
            </div>
            <div class="Column-Container">
                <div class="Column" id="Selection-Section" style="flex: 1; width: 300px;">
                    <div class="Row-Container">
                        Question Selections:
                        <ul class="Row" id="QuestionSelections"></ul>
                        Selected Questions:
                        <ul class="Row" id="SelectedQuestions"></ul>
                    </div>
                </div>
                <div class="Column" id="Preview-Section" style="z-index: 10;">
                    
                    <span id="Preview-Name" style=" font-size:30px; margin: auto; margin-bottom:5%; ">Preview Questions</span>
                    <button onclick="SwitchPreview()" class="btn-primary" style="height: 5%; margin: auto; margin-bottom:5%; margin-left:10%;">Switch Preview</button>
                    <div class="Preview-Container" style="height: 95%;">
                        <div class="Preview-Container" id="Qst-Preview-Container">
                        </div>
                        <div class="Preview-Container" id="Ans-Preview-Container" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/UpdateOptions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="~/js/PreviewVer4.js" asp-append-version="true"></script>
        <script src="~/js/CreateQuestionsVer5.js" asp-append-version="true"></script>
        <script src="~/js/Filters.js" asp-append-version="true"></script>
        <script src="~/js/AddQstsToJS.js" asp-append-version="true"></script>
        <script>
            var oriQstSelections = [];  // This stores the all the questions.
            var qstSelections = []; // This stores all the unselected questions (filtered).
            var selectedQsts = [];  // This stores all the selected questions and will be used to generate pdf files.

            // Get the questions from database:
            @foreach(var qst in Model.Qsts)
            {
                @:AppendQuestionsList(oriQstSelections, @qst.QuestionsId, "@qst.Question", @qst.QuestionMark, "@qst.SubjectsId", "@qst.QuestionDifficulty", "@qst.QuestionImageFileName", "@qst.Answer", "@qst.AnswerImageFileName");
            }
        </script>
        <script>
            function ArrayRandomSelector(array, n) {
                var copyArray = array.slice(); // Create a copy of the original array
                var selectedItems = [];

                for (var i = 0; i < n; i++) {
                    var randomIndex = Math.floor(Math.random() * copyArray.length);
                    var selectedItem = copyArray[randomIndex];

                    selectedItems.push(selectedItem);
                    copyArray.splice(randomIndex, 1); // Remove the selected item
                }

                return selectedItems;
            }

            function RunFilter() {
                // Filter out all the selected questions:
                qstSelections = FilterQsts(oriQstSelections, selectedQsts);
                
                // Filter by subject:
                const subject = document.getElementById("Subject");
                if(subject.value) {
                    qstSelections = FilterQstsByAttr(qstSelections, "Subject", subject.value);
                }

                // Filter by difficulty:
                const difficulty = document.getElementById("Difficulty");
                if(difficulty.value) {
                    qstSelections = FilterQstsByAttr(qstSelections, "Difficulty", difficulty.value);
                }

                // Get the length of the qstSelections for random selector:
                const rndNumInput = document.getElementById("RndCount");
                const rndNumLabel = document.getElementById("RndCountLabel");

                if (qstSelections.length > 0) {
                    rndNumInput.value = 1;
                    rndNumLabel.textContent = "Number of random question selected (1~" + qstSelections.length + "):";
                }
                else {
                    rndNumInput.value = 0;
                    rndNumLabel.textContent = "No questions to be selected!";
                }
                rndNumInput.max = qstSelections.length;

                QstSelectionsDisplayQuestions();
                QstSelectionsUlAddExtendHideButton();
            }

            function CheckRndCountValid() {
                const rndNumInput = document.getElementById("RndCount");
                let rndNum = parseInt(rndNumInput.value);

                if (!isNaN(rndNum)) {
                    if (rndNum < 0 || rndNum > qstSelections.length) {
                        // Invalid
                        rndNumInput.value = 0;
                    }
                }
            }

            function RndButtonOnClick() {
                const rndNumInput = document.getElementById("RndCount");

                var rndSelectedQsts = ArrayRandomSelector(qstSelections, rndNumInput.value);
                
                // Add all the questions in the rndSelectedQsts:
                rndSelectedQsts.forEach((qst) => {
                    AddButtonClickFunction(qst.ID);
                });
            }

            RunFilter();
            Initializing();
        </script>
    </body>
    </html>
}
