@page
@model Web_tech.Pages.Pages.CRUDModel
@{
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/css/CRUD.css" asp-append-version="true" />

    <script>
        var difficulty = {
            1: "Easy",
            2: "Medium",
            3: "Hard"
        };
    </script>
</head>
<body>
    <div class="card">
    <h1>Question Banks</h1>

    <div class="create">
        <a href="/Pages/KeyInPage">Create New</a>
            <a href="/Pages/AddSubject">AddSubject</a>
    </div>

    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Question Mark</th>
                <th>Question Difficulty</th>
                <th>Subjects Id</th>
                <th>Question Image File Name</th>
                <th>Answer</th>
                <th>Answer Image File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>@item.QuestionsId</td>
                    <td>@item.Question</td>
                    <td>@item.QuestionMark</td>
                    <td>
                        <script>
                            document.write(difficulty[@item.QuestionDifficulty]);
                        </script>
                    </td>
                    <td>@Model.Subjects.Find(s => s.SubjectsId == item.SubjectsId).SubjectName</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.QuestionImageFileName))
                        {
                            <img src="@item.QuestionImageFileName" alt="@item.QuestionImageFileName" />
                        }
                    </td>
                    <td>@item.Answer</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.AnswerImageFileName))
                        {
                            <img src="@item.AnswerImageFileName" alt="@item.AnswerImageFileName" />
                        }
                    </td>
                    <td>
                        <form asp-page-handler="Delete" asp-route-id="@item.QuestionsId" method="post">
                            <button type="submit" class="btn ">Delete</button>
                        </form>
                        <button type="button" onclick="location.href='@Url.Page("./Edit", new { id = item.QuestionsId })'" class="EditButton">Edit</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>

